<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to my Clojure Wiki Engine</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-primary" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
              <a class="navbar-brand" href="{{servlet-context}}/">clojure-wiki</a>
              <ul class="nav navbar-nav">
                  {% for n in nav %}
                  <li class="nav-item">
                    <a href="{{servlet-context}}/{{n}}"
                       class="nav-link{% ifequal doc._id n %} active{%endifequal%}">
                      {{n}}
                      </a>
                  </li>
                  {% endfor %}
                  <li class="nav-item">
                    <form method="POST" action="{{servlet-context}}/_addnav/{{doc._id}}">
                      {% csrf-field %}
                      <input type="submit" name="+ Nav" value="+ Nav"/>
                    </form>
                  </li>
                  
              </ul>
          </div>
      </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
