<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ doc._id }} - clojure-wiki{% endblock %}</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav class="navbar navbar-dark bg-primary" role="navigation">
        <button class="navbar-toggler hidden-sm-up"
                type="button"
                data-toggle="collapse"
                data-target="#collapsing-navbar">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="collapsing-navbar">
          <a class="navbar-brand" href="{{servlet-context}}/">Home</a>
          <ul class="nav navbar-nav">
            {% for n in nav %}
            <li class="nav-item">
              <a href="{{servlet-context}}/{{n}}"
                 class="nav-link{% ifequal doc._id n %} active{%endifequal%}">
                {{n}}
              </a>
            </li>
            {% endfor %}
            <li class="nav-item">&nbsp;</li>
            {% if doc %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/_history/{{doc._id}}">Page history</a>
                <a class="dropdown-item" href="/_info/links-to/{{doc._id}}">Who links here?</a>
                <form method="POST" action="{{servlet-context}}/_addnav/{{doc._id}}" class="dropdown-item form-inline">
                  {% csrf-field %}
                  <button type="submit" value="+ Nav"
                          class="btn btn-secondary btn-sm">Add to nav</button>
                </form>
                <form method="POST" action="{{servlet-context}}/_rmnav/{{doc._id}}" class="dropdown-item form-inline">
                  {% csrf-field %}
                  <button type="submit" value="+ Nav"
                          class="btn btn-secondary btn-sm">Remove from nav</button>
                </form>                
              </div>
            </li>
            {% endif %}
            <li>
              <form method="GET" action="_search" class="form-inline pull-right">
                <input type="search" name="word" placeholder="Search" value="{{word}}" class="form-control"/>
                <button type="submit" class="btn">Go</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
