{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Create new page</h1>
        <p>This page doesn't exist, create it now...</p>

        <form class="editPage" action="/_create/{{id}}" method="POST">
            {% csrf-field %}
            ID: {{id}}<br/>
            <textarea name="content">Content for page '{{id}}' here.</textarea>
            <br/>
            <input type="submit" name="save" value="Save"/>
        </form>
    </div>
</div>
{% endblock %}
