{% extends "base.html" %}
{% block content %}
<form class="editPage" method="POST"
          {% if doc %}
          action="/_edit/{{doc._id}}/{{latestrev}}"
          {% else %}
          action="/_create/{{id}}" 
          {% endif %}
          >
  {% csrf-field %}

  <div class="row">
    <div class="col-sm-12">
      {% if doc %}
        {% ifequal doc._rev latestrev %}
          <h1>Edit page '{{doc._id}}'</h1>
        {% else %}
          <h1>Revert page '{{doc._id}}'</h1>
          <p>Review the old page below and save to revert the content to revision {{doc._rev}}.</p>
        {% endifequal %}
      {% else %}
      <h1>Create page '{{id}}'</h1>
      {% endif %}
      
      Document ID: {{doc._id}}{{id}}<br/>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
    
      <textarea name="content">{{ doc.content }}</textarea>
      <br/>
      Tags: <input type="text" name="tags"
                   {% if doc.tags %}
                   value="{{doc.tags|join:" "}}"
                   {% endif %}
                   />
    </div>
  </div>
  <div class="row" style="padding-top: 0.5em">
    <div class="col-sm-12">

      <input type="submit" name="save" value="Save" class="btn btn-primary"/>
      {% if doc %} <a href="/{{doc._id}}" class="btn btn-secondary">Cancel</a>{% endif %}
      <div style="float:right;">
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
      </div>
    </div>
  </div>

</form>

{% endblock %}
