{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    {% if doc %}
    <h1>Edit page '{{doc._id}}'</h1>
    {% else %}
    <h1>Create page '{{id}}'</h1>
    {% endif %}
                     
    <form class="editPage" method="POST"
          {% if doc %}
          action="/_edit/{{doc._id}}/{{doc._rev}}"
          {% else %}
          action="/_create/{{id}}" 
          {% endif %}
          >
      {% csrf-field %}
      Document ID: {{doc._id}}{{id}}<br/>
      <textarea name="content">{{ doc.content }}</textarea>
      <br/>
      Tags: <input type="text" name="tags"
                   {% if doc.tags %}
                   value="{{doc.tags|join:" "}}"
                   {% endif %}
                   />
      <br/>
      <input type="submit" name="save" value="Save" class="btn btn-primary"/>
      <div style="float:right;">
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
      </div>
    </form>
    </div>
</div>
 
{% endblock %}
