{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1>Page history for '{{doc._id}}'</h1>

  </div>    
</div>

<div class="row">
  <div class="col-sm-12">
    <strong>Revisions:</strong>
    <ul>
      {% for h in history %}
      <li>{% if h.timestamp %}{{h.timestamp}}{% else %}{{h.rev}}{% endif %}:
        <a href="/{{ h.id }}/{{ h.rev }}">View</a> . 
        <a href="/_edit/{{ h.id }}/{{ h.rev }}">Revert (todo)</a></li>
      {% endfor %}
    </ul>
  </div>    
</div>

{% endblock %}
