{% extends "base.html" %}
{% block content %}
<div class="row">
  {% if breadcrumb|not-empty %}
  <p class="breadcrumb">
    {% for b in breadcrumb %}
    <a href="{{b.id}}">{{b.id}}</a>
    {% if not forloop.last %},{% endif %} 
    {% endfor %}
    &gt;
  </p>
  {% endif %}

  <div class="col-sm-12">
      {{ doc.content|markdown }}
    </div>    
    <div class="col-sm-12">
      {% for t in doc.tags %}
      <a href="/_tagsearch/{{t}}" class="btn btn-outline-secondary btn-sm">{{t}}</a>
      {% endfor %}
    </div>    
</div>

<div class="row" style="padding-top: 1em; padding-bottom: 3em;" >
    <div class="col-sm-12">
        <a href="/_edit/{{ doc._id }}" class="btn btn-primary">Edit this page</a>
    </div>    
</div>
{% endblock %}
