html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

form.editPage textarea {
    width: 85vw;
    height: 65vh;
}

pre code {
    display: block;
    background-color: #eee;
    margin-left: 2em;
    padding: 0.3em;
}

a:visited {
    color: #84b2d8;
}

blockquote {
    padding-left: 1em;
    border-left: 4px solid #DDD;
}

.breadcrumb {
    font-size: 80%;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}

.container .row hr {
    border-top: 1px solid #ccc;
    height: 1px;
}
